# Files to ignore

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

.venv

# Manually added
data_a7
data_p1
datasets
data_epoch_exercise
A6.pkl
cache
cache_old
my_logs

# Miscellaneous files 
misc

# These are already inside misc
pyclf
Github_thijor_EEG_tutorial_ERP 

